<div id="wrapper">
  <div id="main">
    <div id="base">
      <div id="ProjectMast-redesign-01">
        <img
          src="assets/img/ProjectMast_redesign_01.png"
          width="221"
          height="212"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-02">
        <img
          src="assets/img/ProjectMast_redesign_02.png"
          width="240"
          height="212"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-03">
        <img
          src="assets/img/ProjectMast_redesign_03.png"
          width="251"
          height="212"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-04">
        <img
          src="assets/img/ProjectMast_redesign_04.png"
          width="244"
          height="212"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-05">
        <img
          src="assets/img/ProjectMast_redesign_05.png"
          width="244"
          height="208"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-06">
        <img
          src="assets/img/ProjectMast_redesign_06.png"
          width="244"
          height="213"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-07">
        <img
          src="assets/img/ProjectMast_redesign_07.png"
          width="221"
          height="209"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-08">
        <img
          src="assets/img/ProjectMast_redesign_08.png"
          width="240"
          height="209"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-09">
        <img
          src="assets/img/ProjectMast_redesign_09.png"
          width="251"
          height="209"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-10">
        <img
          src="assets/img/ProjectMast_redesign_10.png"
          width="244"
          height="209"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-11">
        <img
          src="assets/img/ProjectMast_redesign_11.png"
          width="221"
          height="202"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-12">
        <img
          src="assets/img/ProjectMast_redesign_12.png"
          width="241"
          height="202"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-13">
        <img
          src="assets/img/ProjectMast_redesign_13.png"
          width="250"
          height="202"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-14">
        <img
          src="assets/img/ProjectMast_redesign_14.png"
          width="243"
          height="202"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-15">
        <img
          src="assets/img/ProjectMast_redesign_15.png"
          width="245"
          height="202"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-16">
        <img
          src="assets/img/ProjectMast_redesign_16.png"
          width="221"
          height="277"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-17">
        <img
          src="assets/img/ProjectMast_redesign_17.png"
          width="240"
          height="277"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-18">
        <img
          src="assets/img/ProjectMast_redesign_18.png"
          width="251"
          height="277"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-19">
        <img
          src="assets/img/ProjectMast_redesign_19.png"
          width="244"
          height="277"
          alt=""
        />
      </div>
      <div id="ProjectMast-redesign-20">
        <img
          src="assets/img/ProjectMast_redesign_20.png"
          width="244"
          height="277"
          alt=""
        />
      </div>
    </div>
    <div id="glass">
      <div id="Glass-Board-01">
        <img
          src="assets/img/Glass-Board_01.png"
          width="241"
          height="623"
          alt=""
        />
      </div>
      <div id="Glass-Board-02">
        <img
          src="assets/img/Glass-Board_02.png"
          width="249"
          height="623"
          alt=""
        />
      </div>
      <div id="Glass-Board-03">
        <img
          src="assets/img/Glass-Board_03.png"
          width="238"
          height="623"
          alt=""
        />
      </div>
      <div id="Glass-Board-04">
        <img
          src="assets/img/Glass-Board_04.png"
          width="204"
          height="623"
          alt=""
        />
      </div>
      <div id="Glass-Board-05">
        <img
          src="assets/img/Glass-Board_05.png"
          width="189"
          height="623"
          alt=""
        />
      </div>
      <div id="Glass-Board-06">
        <img
          src="assets/img/Glass-Board_06.png"
          width="1"
          height="623"
          alt=""
        />
      </div>
    </div>
    <div id="navi">
      <college-col-nav></college-col-nav>
    </div>
    <div id="page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
