#wrapper {
	height: 900px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#main {
	position:relative;
	left:0px;
	top:0px;
	width:1200px;
	height:900px;
}
#base {
	position:absolute;
	left:0px;
	top:0px;
	width:1200px;
	height:900px;
}
#ProjectMast-redesign-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:221px;
	height:212px;
}
#ProjectMast-redesign-02 {
	position:absolute;
	left:221px;
	top:0px;
	width:240px;
	height:212px;
}
#ProjectMast-redesign-03 {
	position:absolute;
	left:461px;
	top:0px;
	width:251px;
	height:212px;
}
#ProjectMast-redesign-04 {
	position:absolute;
	left:712px;
	top:0px;
	width:244px;
	height:212px;
}
#ProjectMast-redesign-05 {
	position:absolute;
	left:956px;
	top:0px;
	width:244px;
	height:208px;
}
#ProjectMast-redesign-06 {
	position:absolute;
	left:956px;
	top:208px;
	width:244px;
	height:213px;
}
#ProjectMast-redesign-07 {
	position:absolute;
	left:0px;
	top:212px;
	width:221px;
	height:209px;
}
#ProjectMast-redesign-08 {
	position:absolute;
	left:221px;
	top:212px;
	width:240px;
	height:209px;
}
#ProjectMast-redesign-09 {
	position:absolute;
	left:461px;
	top:212px;
	width:251px;
	height:209px;
}
#ProjectMast-redesign-10 {
	position:absolute;
	left:712px;
	top:212px;
	width:244px;
	height:209px;
}
#ProjectMast-redesign-11 {
	position:absolute;
	left:0px;
	top:421px;
	width:221px;
	height:202px;
}
#ProjectMast-redesign-12 {
	position:absolute;
	left:221px;
	top:421px;
	width:241px;
	height:202px;
}
#ProjectMast-redesign-13 {
	position:absolute;
	left:462px;
	top:421px;
	width:250px;
	height:202px;
}
#ProjectMast-redesign-14 {
	position:absolute;
	left:712px;
	top:421px;
	width:243px;
	height:202px;
}
#ProjectMast-redesign-15 {
	position:absolute;
	left:955px;
	top:421px;
	width:245px;
	height:202px;
}
#ProjectMast-redesign-16 {
	position:absolute;
	left:0px;
	top:623px;
	width:221px;
	height:277px;
}
#ProjectMast-redesign-17 {
	position:absolute;
	left:221px;
	top:623px;
	width:240px;
	height:277px;
}
#ProjectMast-redesign-18 {
	position:absolute;
	left:461px;
	top:623px;
	width:251px;
	height:277px;
}
#ProjectMast-redesign-19 {
	position:absolute;
	left:712px;
	top:623px;
	width:244px;
	height:277px;
}
#ProjectMast-redesign-20 {
	position:absolute;
	left:956px;
	top:623px;
	width:244px;
	height:277px;
}
#navi {
	position: absolute;
	top: 202px;
	left: 425px;
	width: 682px;
	height: 91px;
}

#glass {
	position:absolute;
	left:40px;
	top:225px;
	width:1122px;
	height:623px;
}


#Glass-Board-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:241px;
	height:623px;
}

#Glass-Board-02 {
	position:absolute;
	left:241px;
	top:0px;
	width:249px;
	height:623px;
}

#Glass-Board-03 {
	position:absolute;
	left:490px;
	top:0px;
	width:238px;
	height:623px;
}

#Glass-Board-04 {
	position:absolute;
	left:728px;
	top:0px;
	width:204px;
	height:623px;
}

#Glass-Board-05 {
	position:absolute;
	left:932px;
	top:0px;
	width:189px;
	height:623px;
}

#Glass-Board-06 {
	position:absolute;
	left:1121px;
	top:0px;
	width:1px;
	height:623px;
}

#content {
	position: absolute;
	height: 603px;
	width: 1072px;
	left: 50px;
	top: 245px;
}
#home {
	position: absolute;
	height: 416px;
	width: 813px;
	left: 250px;
	top: 325px;
}
#temp {
	position: absolute;
	height: 300px;
	width: 1000px;
	left: 100px;
	top: 400px;
}
.aglin {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
