<svg id="navi-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 632 92">
  <defs>
    <style>
      .hide-me {
        fill: none;
      }

      .mask {
        clip-path: url(#clip-path);
      }

    </style>
    <clipPath id="clip-path" transform="translate(-7 1)">
      <rect id="nav-mask" class="hide-me" width="650" height="91" />
    </clipPath>
  </defs>
  <title>college-nav</title>
  <g class="mask">
    <a (click)="goToAbout();">
      <image id="about-btn" class="nav-btns" width="94" height="91" x="538" y="-50" xlink:href="assets/nav/about.png" />
    </a>
    <a (click)="goToAnim();">
      <image id="anim-btn" class="nav-btns" width="172" height="91" x="187" y="-50" xlink:href="assets/nav/anim-vid.png" />
    </a>
    <a (click)="goToHome();">
      <image id="home-btn" class="nav-btns" width="85" height="91" x="0" y="-50" xlink:href="assets/nav/home.png" />
    </a>
    <a (click)="goToImg();">
      <image id="img-btns" class="nav-btns" width="102" height="91" x="85" y="-49" xlink:href="assets/nav/images.png" />
    </a>
    <a (click)="goToSound();">
      <image id="sound-btns" class="nav-btns" width="109" height="91" x="359" y="-50" xlink:href="assets/nav/sound.png" />
    </a>
    <a (click)="goToWeb();">
      <image id="web-btn" class="nav-btns" width="70" height="91" x="468" y="-50" s xlink:href="assets/nav/web.png" />
    </a>
  </g>
</svg>
